@font-face {
  font-family: "Antry Sans";
  src: url("./fonts/AntrySans_PERSONAL_USE_ONLY.otf");
}

@font-face {
  font-family: "Unbounded";
  src: url("./fonts/Unbounded-VariableFont_wght.ttf");
}

body{
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Unbounded";
  height: 100%;
}

header{
  background-color:#0C0D0A;
  padding: 10px;
  color:#C3F25C;
  text-align: center;
  font-family: 'Antry Sans';
  font-size: x-large;
}

.mainContainer{
  display: flex;
  margin-top: 5%;
}

.leftContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.guessWord{
  background-color:#0C0D0A;
  color:#C3F25C;
  padding: 5px;
  width: 325px;
  text-align: center;
}

img{
  height: 500px;
}

.rightContainer{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  width: 50%;
}
.bottomContainer{
  display: flex;
  justify-content: space-around;
  padding: 0 20%;
}

.button{
  background-color:#0C0D0A;
  color:#C3F25C;
  padding: 5px 20px;
 }

input{
  width: 50%;
  height: 30px;
  align-self: center;
}

.textRules{
  padding: 0 20%;
}

footer{
  background-color:#0C0D0A;
  color:#C3F25C;
  position:absolute;
  bottom:0;
  width: 100%;
  height:60px;
  display: flex;
  justify-content: flex-end;
}